<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>APPOINTMENT</h1>
<form action="{% url 'appointments:make_appointment' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="client_name">NAME</label>
    <input type="text" name="client_name">
<label for="message">Message</label>
    <input type="text" name="message">
<label for="date">date</label>
    <input type="date" name="date">
<input type="submit">
</form>
</body>
</html>