{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}

    <h1>Новости</h1>
    <!--   <p> Количество новостей: {{ posts_amount }}</p>-->

    {% if news %}
        {% for news_one in news %}
            <h2>
                <a href="{% url 'news_one' news_one.pk %}">{{ news_one.title | censor:'очень_плохое_слово'}}</a>
            </h2>
            <p>
                <a href="{% url 'news_one' news_one.pk %}">{{ news.title }}</a>
                <a href="{% url 'news_update' news_one.pk %}"><u>Редактировать</u></a>
                <a href="{% url 'news_delete' news_one.pk %}"><u> Удалить </u></a>
            </p>
            <p>{{ news_one.creation_datetime | date:'d.m.Y'}}</p>
            <p>{{ news_one.text | censor:'очень_плохое_слово' | truncatewords_html:50}}</p>
            <hr>
        {% endfor %}
    {% else %}
        <h2>Нет никаких новостей :(</h2>
    {% endif %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}

    {% for item in categories %}
        <button> <a href="{% url 'subscribe' item.pk  %}">  Подписаться на категорию {{ item }}</a> </button>
    {% endfor %}

{% endblock content %}
